<div class="itr-ambient" id="itrAmbient" aria-hidden="true" data-ambient-profile="{{ ambient_profile|default:'balanced' }}">
    <div class="itr-ambient__aurora itr-ambient__aurora--one"></div>
    <div class="itr-ambient__aurora itr-ambient__aurora--two"></div>
    <div class="itr-ambient__aurora itr-ambient__aurora--three"></div>
    <div class="itr-ambient__aurora itr-ambient__aurora--four"></div>
    <div class="itr-ambient__grid"></div>
    <div class="itr-ambient__sheen"></div>
    <div class="itr-ambient__grain"></div>
    <canvas class="itr-ambient__particles" id="itrAmbientParticles" aria-hidden="true"></canvas>
    <div class="itr-ambient__vignette"></div>
</div>
