<div class="itr-brand-motion" aria-hidden="true" data-brand-motion="1">
    <div class="itr-aurora itr-aurora--one"></div>
    <div class="itr-aurora itr-aurora--two"></div>
    <div class="itr-aurora itr-aurora--three"></div>
    <div class="itr-grid"></div>
    <div class="itr-sheen"></div>
    <div class="itr-particles">
        <span class="itr-particle" style="--x:12%; --y:20%; --size:3px; --delay:0s;"></span>
        <span class="itr-particle" style="--x:78%; --y:18%; --size:4px; --delay:1.5s;"></span>
        <span class="itr-particle" style="--x:24%; --y:70%; --size:2px; --delay:3s;"></span>
        <span class="itr-particle" style="--x:62%; --y:62%; --size:3px; --delay:4.5s;"></span>
        <span class="itr-particle" style="--x:40%; --y:32%; --size:2px; --delay:6s;"></span>
        <span class="itr-particle" style="--x:88%; --y:72%; --size:3px; --delay:7.5s;"></span>
        <span class="itr-particle" style="--x:18%; --y:48%; --size:3px; --delay:2.3s;"></span>
        <span class="itr-particle" style="--x:54%; --y:14%; --size:2px; --delay:5.1s;"></span>
        <span class="itr-particle" style="--x:70%; --y:84%; --size:4px; --delay:3.8s;"></span>
        <span class="itr-particle" style="--x:94%; --y:44%; --size:2px; --delay:6.6s;"></span>
    </div>
    <div class="itr-stars">
        <span class="itr-star" style="--x:8%; --y:16%; --d:0s;"></span>
        <span class="itr-star" style="--x:18%; --y:44%; --d:1.2s;"></span>
        <span class="itr-star" style="--x:30%; --y:20%; --d:2.6s;"></span>
        <span class="itr-star" style="--x:45%; --y:68%; --d:1.8s;"></span>
        <span class="itr-star" style="--x:62%; --y:26%; --d:3.1s;"></span>
        <span class="itr-star" style="--x:72%; --y:52%; --d:4.3s;"></span>
        <span class="itr-star" style="--x:84%; --y:34%; --d:5.2s;"></span>
        <span class="itr-star" style="--x:90%; --y:74%; --d:6.1s;"></span>
        <span class="itr-star" style="--x:14%; --y:74%; --d:2.1s;"></span>
        <span class="itr-star" style="--x:26%; --y:58%; --d:3.9s;"></span>
        <span class="itr-star" style="--x:38%; --y:12%; --d:5.9s;"></span>
        <span class="itr-star" style="--x:52%; --y:82%; --d:4.9s;"></span>
        <span class="itr-star" style="--x:66%; --y:42%; --d:6.8s;"></span>
        <span class="itr-star" style="--x:78%; --y:12%; --d:2.8s;"></span>
        <span class="itr-star" style="--x:88%; --y:56%; --d:7.2s;"></span>
        <span class="itr-star" style="--x:94%; --y:22%; --d:1.5s;"></span>
        <span class="itr-star" style="--x:6%; --y:58%; --d:3.5s;"></span>
        <span class="itr-star" style="--x:22%; --y:86%; --d:4.1s;"></span>
        <span class="itr-star" style="--x:34%; --y:36%; --d:2.2s;"></span>
        <span class="itr-star" style="--x:48%; --y:8%; --d:5.1s;"></span>
        <span class="itr-star" style="--x:58%; --y:62%; --d:6.0s;"></span>
        <span class="itr-star" style="--x:74%; --y:86%; --d:1.9s;"></span>
        <span class="itr-star" style="--x:82%; --y:8%; --d:2.7s;"></span>
        <span class="itr-star" style="--x:96%; --y:40%; --d:4.8s;"></span>
    </div>
</div>
